<h2>All Figures</h2>
<p>
<% @figures.each do |figure| %>
  <a href="/figures/<%= figure.id %>"><%= figure.name %></a> <br>
<% end %>
</p>
<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
